.main-graph {
  will-change: height;
  width: 676px;
  height: 266px;
}

.main-graph-1 {
  display: flow-root;
  // height: 196px;
  height: 250px;
}

.main-graph-2 {
  box-sizing: inherit;
  height: 196px;
}

.chartjs-render-monitor {
  width: 676px;
  height: 196px;
}