.dashboard-4 {
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 1;
  flex-grow: 1;
  min-width: 1036px;
  padding-top: 64px;
  margin-bottom: 64px;
}

.dashboard-5 {
  padding-top: 36px;
  margin: auto;
  width: 1024px;
  height: inherit;
  height: 3300px;
}

.dashboard-6 {
  margin-top: 0;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 0 -6px;
  height: inherit;
}

.left-1 {
  min-width: 0px;
  width: auto;
  flex: 0 0 66.66667%;
  padding-left: 6px;
  padding-right: 6px;
}

.left-2 {
  width: 676px;
  height: 349px;
  margin-bottom: 44px;
  position: relative;
}

.left-3 {
  margin-bottom: 12px;
  height: 95px;
}

.left-4 {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  position: relative;
  height: 40px;
}

.left-4-header {
  margin: 0px;
  font-weight: 500;
  letter-spacing: -.33px;
  font-size: 32px;
  line-height: 40px;
  height: inherit;
  width: auto;
  color: white;
}

.left-5 {
  padding-top: 2px;
  height: 20px;
}

.left-6 {
  font-weight: 500;
  color: white;
}

.left-7 {
  margin: 0px;
  color: rgb(121, 133, 139);
  font-weight: 400;
}

.dashboard-graph {
  will-change: height;
  height: 266px;
  width: 676px;
}

.dashboard-buying-power {
  margin-bottom: 60px;
  margin-top: -24px;
  height: 73px;
}

.dashboard-buying-power-1 {
  box-sizing: border-box;
  margin-left: -24px;
  margin-right: -24px;
  border-radius: 5px;
  height: inherit;
}

.dashboard-buying-power-2 {
  -webkit-appearance: button;
  background-image: none;
  text-align: unset;
  color: unset;
  border: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 24px;
  padding-right: 24px;
  cursor: pointer;
  background-color: black;
  border-radius: 5px;
  height: inherit;
  width: 728px;
  outline: none;
}

.dashboard-buying-power-2:hover {
  background-color: rgba(26,26,26,1)
}

.dashboard-buying-power-2:active {
  background-color: rgba(51,51,51,1);
}

// .dashboard-buying-power-2:focus {
//   background-color: pink;
// }

.dashboard-buying-power-3 {
  border-bottom: 1px solid rgb(48, 54, 58);
  border-top: none;
  padding-top: 24px;
  padding-bottom: 24px;
  height: 24px;
}

.dashboard-buying-power-4 {
  height: inherit;
}

.dashboard-buying-power-5 {
  margin: 0px;
  color: white;
  font-size: 15px;
  font-weight: 700;
}

.dashboard-buying-power-6 {
  float: right;
  opacity: 1;
  transition: opacity 400ms ease-in-out 0s;
  color: white;
}

.dash-toggle {
  will-change: height;
  height: 274px;
  width: inherit;
}

.dash-toggle-1 {
  display: flow-root;
  height: inherit;
}

.dash-toggle-2 {
  padding: 24px;
  height: 226px;
}

.dash-toggle-3 {
  display: flex;
  height: inherit;
}

.dash-toggle-4 {
  // flex: 1 1 0%;
  width: 322px;
}

.dash-toggle-5 {
  margin-top: -18px;
  height: 124px;
}

.dash-toggle-6 {
  border-collapse: collapse;
  width: 100%;
  display: table;
  height: inherit;
  // border-color:rgb(128, 128, 128);
}

.dash-toggle-7 {
  height: 61px;
  width: 321px;
  position: absolute;
  border-color: rgb(128, 128, 128);
  border-bottom: 1px solid rgb(48, 54, 58);

}

.dash-toggle-8 {
  text-align: left;
  border-bottom: 1px solid rgb(48, 54, 58);
  box-sizing: content-box;
  height: 59px;
  width: 217px;
  padding: 1px;
  vertical-align: middle;
}

.dash-toggle-9 {
  color: white;
  margin: 0px;
  text-decoration: unset;
  font-weight: 400;
  font-size: 15px;
}
.dash-toggle-7-1 {
  height: 61px;
  width: 321px;
  // position: absolute;
  // border-color: rgb(128, 128, 128);
  // border-bottom: 1px solid rgb(48, 54, 58);
}

.dash-toggle-8-1 {
  text-align: left;
  box-sizing: content-box;
  height: 59px;
  width: 217px;
  padding: 1px;
  vertical-align: middle;
}

.dash-filler {
  width: 2px;
  height: 61px;
}

.dash-toggle-10 {
  text-align: right;
  height: 59px;
  width: 96px;
  vertical-align: middle;
}

.dash-toggle-input {
  margin-bottom: 8px;
  margin-top: 18px;
  text-align: center;
  height: 28px;
}

.dash-toggle-input-1 {
  margin-bottom: 8px;
  margin-top: 18px;
  text-align: center;
  height: 48px;
}

.dash-toggle-input-2 {
  width: 100%;
  text-align: center;
  height: inherit;
}

.dash-toggle-input-3 {
  -webkit-appearance: button;
  background: none currentcolor;
  border: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  font: inherit;
  text-align: unset;
  box-sizing: border-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  white-space: nowrap;
  height: inherit;
  min-width: 120px;
  max-width: 360px;
  color: rgb(0, 200, 5);
  width: 100%;
  padding-left: 48px;
  padding-right: 48px;
  outline: none;
}

.dash-toggle-input-3:hover {
  background-color: rgba(38,208,43,1);
}

.dash-toggle-input-0 {
  background: rgb(30, 33, 36);
  color: white;
  border: 1px solid rgb(30, 33, 36);
  border-radius: 4px;
  height: 36px;
  outline: none;
  margin-left: 100px;
}

.dash-toggle-input-0:hover {
  background-color: black;
}

.dash-toggle-input-0:focus {
  border-color:rgb(0, 200, 5);
  background-color: black;
}

.dash-toggle-input-0-0 {
  color: white;
}

.dash-toggle-input-4 {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 99px;
  height: 20px;
}

.dash-toggle-input-5 {
  color: rgb(30, 33, 36);
  font-size: 15px;
  font-weight: 700;
  text-decoration: unset;
}
