.main-graph {
  will-change: height;
  width: 676px;
  height: 266px;
}

.main-graph-1 {
  display: flow-root;
  // height: 196px;
  height: 250px;
}

.main-graph-2 {
  box-sizing: inherit;
  height: 196px;
}

.chartjs-render-monitor {
  width: 676px;
  height: 196px;
}

.tooltip {
  border-radius: 0.25rem;
  background: none;
  color: white;
  padding: 1rem;
  text-align: center;
  margin-right: 20px;
  position: relative;
}

.banana {
  color: white;
}