.dashboard-4 {
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 1;
  flex-grow: 1;
  min-width: 1036px;
  padding-top: 64px;
  margin-bottom: 64px;
}

.dashboard-5 {
  padding-top: 36px;
  margin: auto;
  width: 1024px;
  height: inherit;
  height: 3300px;
}

.dashboard-6 {
  margin-top: 0;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 0 -6px;
  height: inherit;
}

.left-1 {
  min-width: 0px;
  width: auto;
  flex: 0 0 66.66667%;
  padding-left: 6px;
  padding-right: 6px;
}

.left-2 {
  width: 676px;
  height: 349px;
  margin-bottom: 44px;
  position: relative;
}

.left-3 {
  margin-bottom: 12px;
  height: 95px;
}

.left-4 {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  position: relative;
  height: 40px;
}

.left-4-header {
  margin: 0px;
  font-weight: 500;
  letter-spacing: -.33px;
  font-size: 32px;
  line-height: 40px;
  height: inherit;
  width: auto;
  color: white;
  display: none;
}

.left-5 {
  padding-top: 2px;
  height: 20px;
}

.left-6 {
  font-weight: 500;
  color: white;
}

.left-7 {
  margin: 0px;
  color: rgb(121, 133, 139);
  font-weight: 400;
}

.dashboard-graph {
  will-change: height;
  height: 266px;
  width: 676px;
}

.dashboard-buying-power {
  margin-bottom: 60px;
  // margin-top: -24px;
  // height: 73px;
}

.dashboard-buying-power-1 {
  box-sizing: border-box;
  margin-left: -24px;
  margin-right: -24px;
  border-radius: 5px;
  height: inherit;
}

#dashboard-buying-power-2 {
  -webkit-appearance: button;
  background-image: none;
  text-align: unset;
  color: unset;
  border: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 24px;
  padding-right: 24px;
  cursor: pointer;
  background-color: black;
  border-radius: 5px;
  height: inherit;
  width: 100%;
  outline: none;
}

#dashboard-buying-power-2-active {
  -webkit-appearance: button;
  background-image: none;
  text-align: unset;
  color: unset;
  border: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 24px;
  padding-right: 24px;
  cursor: pointer;
  background-color: #1e2124;
  border-radius: 5px;
  height: inherit;
  width: 100%;
  outline: none;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px
}

#dashboard-buying-power-2:hover {
  background-color: rgba(26,26,26,1)
}

#dashboard-buying-power-2:active {
  #dash-toggle-test {
    transition: transform 1s;
  }
}


.dashboard-buying-power-3 {
  border-bottom: 1px solid rgb(48, 54, 58);
  border-top: none;
  padding-top: 24px;
  padding-bottom: 24px;
  height: 24px;
}

.dashboard-buying-power-4 {
  height: inherit;
}

.dashboard-buying-power-5 {
  margin: 0px;
  color: white;
  font-size: 15px;
  font-weight: 700;
}

.dashboard-buying-power-6 {
  float: right;
  opacity: 1;
  transition: opacity 400ms ease-in-out 0s;
  color: white;
}

.dash-toggle {
  display: none;
  will-change: height;
  height: 274px;
  width: inherit;
}

#dash-toggle {
  // display: none;
  visibility: hidden;
  will-change: height;
  height: 274px;
  width: inherit;
  opacity: 0;
  max-height: 0;
  transition: all 0.3s linear;
}

#dash-toggle-test {
  // display: block;
  visibility: visible;
  will-change: height;
  height: 300px;
  width: inherit;
  background-color: #1e2124;
  letter-spacing: 0.5px;
  opacity: 1;
  max-height: 1000px;
  transition: all 0.3s linear;
}



.dash-toggle-1 {
  display: flow-root;
  height: inherit;
}

.dash-toggle-2 {
  // padding: 24px;
  height: 226px;
  padding: 24px;
}

.dash-toggle-3 {
  display: flex;
  height: inherit;
}

.dash-toggle-4 {
  // flex: 1 1 0%;
  width: 322px;
}

.dash-toggle-5 {
  margin-top: -18px;
  height: 124px;
}

.dash-toggle-6 {
  border-collapse: collapse;
  width: 100%;
  display: table;
  height: inherit;
  // border-color:rgb(128, 128, 128);
}

.dash-toggle-7 {
  height: 61px;
  width: 321px;
  position: absolute;
  border-color: rgb(128, 128, 128);
  border-bottom: 1px solid rgb(48, 54, 58);

}

.dash-toggle-8 {
  text-align: left;
  border-bottom: 1px solid rgb(48, 54, 58);
  box-sizing: content-box;
  height: 59px;
  width: 217px;
  padding: 1px;
  vertical-align: middle;
}

.dash-toggle-9 {
  color: white;
  margin: 0px;
  text-decoration: unset;
  font-weight: 400;
  font-size: 15px;
}
.dash-toggle-7-1 {
  height: 61px;
  width: 321px;
  // position: absolute;
  // border-color: rgb(128, 128, 128);
  // border-bottom: 1px solid rgb(48, 54, 58);
}

.dash-toggle-8-1 {
  text-align: left;
  box-sizing: content-box;
  height: 59px;
  width: 217px;
  padding: 1px;
  vertical-align: middle;
}

.dash-filler {
  width: 2px;
  height: 61px;
}

.dash-toggle-10 {
  text-align: right;
  height: 59px;
  width: 96px;
  vertical-align: middle;
}

.dash-toggle-input {
  margin-bottom: 8px;
  margin-top: 18px;
  text-align: center;
  height: 28px;
}

.dash-toggle-input-1 {
  margin-bottom: 8px;
  margin-top: 18px;
  text-align: center;
  height: 48px;
}

.dash-toggle-input-2 {
  width: 100%;
  text-align: center;
  height: inherit;
}

.dash-toggle-input-3 {
  -webkit-appearance: button;
  background: none currentcolor;
  border: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  font: inherit;
  text-align: unset;
  box-sizing: border-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  white-space: nowrap;
  height: inherit;
  min-width: 120px;
  max-width: 360px;
  color: rgb(0, 200, 5);
  width: 100%;
  padding-left: 48px;
  padding-right: 48px;
  outline: none;
}

.dash-toggle-input-3:hover {
  background-color: rgba(38, 208, 43, 1);
}

.dash-toggle-input-3:active {
  background-color: rgba(64, 214, 68, 1);
}

.dash-toggle-input-3-red {
  -webkit-appearance: button;
  background: none currentcolor;
  border: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  font: inherit;
  text-align: unset;
  box-sizing: border-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  white-space: nowrap;
  height: inherit;
  min-width: 120px;
  max-width: 360px;
  color: rgb(255, 80, 0);
  width: 100%;
  padding-left: 48px;
  padding-right: 48px;
  outline: none;
}

.dash-toggle-input-3-red:hover {
  background-color: rgba(255,106,38,1);
}

.dash-toggle-input-3-red:active {
  background-color: rgba(255,124,64,1);
}

.dash-toggle-input-0 {
  background: rgb(30, 33, 36);
  color: white;
  border: 1px solid rgb(30, 33, 36);
  border-radius: 4px;
  height: 36px;
  outline: none;
  margin-left: 99px;
}

.dash-toggle-input-0:hover {
  background-color: black;
}

.dash-toggle-input-0:focus {
  border-color:rgb(0, 200, 5);
  background-color: black;
}

.dash-toggle-input-0-red {
  background: rgb(30, 33, 36);
  color: white;
  border: 1px solid rgb(30, 33, 36);
  border-radius: 4px;
  height: 36px;
  outline: none;
  margin-left: 99px;
}

.dash-toggle-input-0-red:hover {
  background-color: black;
}

.dash-toggle-input-0-red:focus {
  border-color:rgb(255, 80, 0);
  background-color: black;
}

.dash-toggle-input-0-0 {
  color: white;
}

.dash-toggle-input-4 {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 99px;
  height: 20px;
}

.dash-toggle-input-5 {
  color: rgb(30, 33, 36);
  font-size: 15px;
  font-weight: 700;
  text-decoration: unset;
}

.main-graph-dayz {
  border-bottom: 1px solid;
  border-color: #30363a;
  height: 33px;
  margin-top: 50;
  margin-bottom: 20px;
}

.dashboard-list {
  margin-bottom: 60px;
}

.dashboard-list-1 {
  border-bottom-color: rgb(48, 54, 58);
  border-bottom-style: none;
  width: inherit;
  height: 300px;
  padding-left: 2px;
  padding-right: 2px;
}

.dashboard-list-2 {
  padding: 24px 0px;
  height: 176px;
}

.dashboard-list-3 {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 24px;
  height: 28px;
}

.dashboard-list-4 {
  margin: 0px;
  color: white;
  text-decoration: unset;
  font-weight: 500;
  font-size: 21px;
}

.dashboard-list-items {
  margin-bottom: -8px;
  max-height: 132px;
  overflow: hidden;
  height: 132px;
}

.dashboard-list-items-1 {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 8px;
  width: 95px;
  height: 36px;
}

.dashboard-list-items-2 {
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid rgb(48,54,58);
  border-radius: 20px;
  display: inline-flex;
  height: 36px;
  padding-right: 16px;
  width: 77px;
  cursor: default;
}

.dashboard-list-items-2:hover {
  background-color: rgb(30,33,36);
}

.dashboard-list-items-2-2:hover {
  background-color: rgb(30,33,36);
}

.dashboard-list-items-2-3:hover {
  background-color: rgb(30,33,36);
}

.dashboard-list-items-2-4:hover {
  background-color: rgb(30,33,36);
}

.dashboard-list-items-2-5:hover {
  background-color: rgb(30,33,36);
}

.dashboard-list-items-2-6:hover {
  background-color: rgb(30,33,36);
}

.dashboard-list-items-2-7:hover {
  background-color: rgb(30,33,36);
}

.dashboard-list-items-2-8:hover {
  background-color: rgb(30,33,36);
}

.dashboard-list-items-2-9:hover {
  background-color: rgb(30,33,36);
}

.dashboard-list-items-2-10:hover {
  background-color: rgb(30,33,36);
}

.dashboard-list-items-2-11:hover {
  background-color: rgb(30,33,36);
}

.dashboard-list-items-2-13:hover {
  background-color: rgb(30,33,36);
}

.dashboard-list-items-2-14:hover {
  background-color: rgb(30,33,36);
}

.dashboard-list-items-2-15:hover {
  background-color: rgb(30,33,36);
}

.dashboard-list-items-2-16:hover {
  background-color: rgb(30,33,36);
}

.dashboard-list-items-2-17:hover {
  background-color: rgb(30,33,36);
}

.dashboard-list-items-2-18:hover {
  background-color: rgb(30,33,36);
}

.dashboard-list-items-2-19:hover {
  background-color: rgb(30,33,36);
}

.dashboard-list-items-3 {
  margin: 0px 8px 0px 6px;
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.dashboard-list-items-4 {
  color: white;
  margin: 0px;
  text-decoration: unset;
  font-weight: 400;
}

.dashboard-list-items-img {
  border-radius: 12px;
  display: block;
  height: 24px;
  object-fit: cover;
  object-position: center center;
  width: 24px;
  border-style: none;
}

.dashboard-list-items-2-2 {
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid rgb(48,54,58);
  border-radius: 20px;
  display: inline-flex;
  height: 36px;
  padding-right: 16px;
  width: 140px;
  cursor: default;
}

.dashboard-list-items-1-1 {
  width: 159px;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 8px;
  height: 36px;
}

.dashboard-list-items-1-2 {
  width: 131px;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 8px;
  height: 36px;
}

.dashboard-list-items-2-3 {
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid rgb(48,54,58);
  border-radius: 20px;
  display: inline-flex;
  height: 36px;
  padding-right: 16px;
  width: 113px;
  cursor: default;
}

.dashboard-list-items-1-3 {
  width: 112px;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 8px;
  height: 36px;
}

.dashboard-list-items-2-4 {
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid rgb(48,54,58);
  border-radius: 20px;
  display: inline-flex;
  height: 36px;
  padding-right: 16px;
  width: 93px;
  cursor: default;
}

.dashboard-list-items-1-4 {
  width: 138px;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 8px;
  height: 36px;
}

.dashboard-list-items-2-5 {
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid rgb(48,54,58);
  border-radius: 20px;
  display: inline-flex;
  height: 36px;
  padding-right: 16px;
  width: 120px;
  cursor: default;
}

.dashboard-list-items-1-5 {
  width: 120px;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 8px;
  height: 36px;
}

.dashboard-list-items-2-6 {
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid rgb(48,54,58);
  border-radius: 20px;
  display: inline-flex;
  height: 36px;
  padding-right: 16px;
  width: 105px;
  cursor: default;
}

.dashboard-list-items-1-6 {
  width: 104x;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 8px;
  height: 36px;
}

.dashboard-list-items-2-7 {
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid rgb(48,54,58);
  border-radius: 20px;
  display: inline-flex;
  height: 36px;
  padding-right: 16px;
  width: 86px;
  cursor: default;
}

.dashboard-list-items-1-7 {
  width: 171px;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 8px;
  height: 36px;
}

.dashboard-list-items-2-8 {
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid rgb(48,54,58);
  border-radius: 20px;
  display: inline-flex;
  height: 36px;
  padding-right: 16px;
  width: 153px;
  cursor: default;
}

.dashboard-list-items-1-8 {
  width: 195px;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 8px;
  height: 36px;
}

.dashboard-list-items-2-9 {
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid rgb(48,54,58);
  border-radius: 20px;
  display: inline-flex;
  height: 36px;
  padding-right: 16px;
  width: 177px;
  cursor: default;
}

.dashboard-list-items-1-9 {
  width: 97px;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 8px;
  height: 36px;
}

.dashboard-list-items-2-10 {
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid rgb(48,54,58);
  border-radius: 20px;
  display: inline-flex;
  height: 36px;
  padding-right: 16px;
  width: 79px;
  cursor: default;
}

.dashboard-list-items-1-10 {
  width: 101px;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 8px;
  height: 36px;
}

.dashboard-list-items-2-11 {
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid rgb(48,54,58);
  border-radius: 20px;
  display: inline-flex;
  height: 36px;
  padding-right: 16px;
  width: 83px;
  cursor: default;
}

.dashboard-list-items-1-11 {
  width: 125px;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 8px;
  height: 36px;
}

.dashboard-list-items-2-12 {
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid rgb(48,54,58);
  border-radius: 20px;
  display: inline-flex;
  height: 36px;
  padding-right: 16px;
  width: 106px;
  cursor: default;
}

.dashboard-list-items-1-12 {
  width: 123px;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 8px;
  height: 36px;
}

.dashboard-list-items-2-13 {
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid rgb(48,54,58);
  border-radius: 20px;
  display: inline-flex;
  height: 36px;
  padding-right: 16px;
  width: 105px;
  cursor: default;
}

.dashboard-list-items-1-13 {
  width: 121px;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 8px;
  height: 36px;
}

.dashboard-list-items-2-14 {
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid rgb(48,54,58);
  border-radius: 20px;
  display: inline-flex;
  height: 36px;
  padding-right: 16px;
  width: 103px;
  cursor: default;
}

.dashboard-list-items-1-14 {
  width: 132px;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 8px;
  height: 36px;
}

.dashboard-list-items-2-15 {
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid rgb(48,54,58);
  border-radius: 20px;
  display: inline-flex;
  height: 36px;
  padding-right: 16px;
  width: 114px;
  cursor: default;
}

.dashboard-list-items {
  height: 180px;
  max-height: none;
}

.dashboard-list-items-1-15 {
  width: 105px;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 8px;
  height: 36px;
}

.dashboard-list-items-2-16 {
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid rgb(48,54,58);
  border-radius: 20px;
  display: inline-flex;
  height: 36px;
  padding-right: 16px;
  width: 87px;
  cursor: default;
}

.dashboard-list-items-1-16 {
  width: 147px;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 8px;
  height: 36px;
}

.dashboard-list-items-2-17 {
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid rgb(48,54,58);
  border-radius: 20px;
  display: inline-flex;
  height: 36px;
  padding-right: 16px;
  width: 129px;
  cursor: default;
}

.dashboard-list-items-1-17 {
  width: 90px;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 8px;
  height: 36px;
}

.dashboard-list-items-2-18 {
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid rgb(48,54,58);
  border-radius: 20px;
  display: inline-flex;
  height: 36px;
  padding-right: 16px;
  width: 72px;
  cursor: default;
}

.dashboard-list-items-1-18 {
  width: 109px;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 8px;
  height: 36px;
}

.dashboard-list-items-2-19 {
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid rgb(48,54,58);
  border-radius: 20px;
  display: inline-flex;
  height: 36px;
  padding-right: 16px;
  width: 91px;
  cursor: default;
}

.dashboard-news {
  margin-bottom: 0;
}

.dashboard-news-header {
  border-bottom: 1px solid;
  border-color: rgb(48,54,58);
  padding-bottom: 16px;
}

.dashboard-news-header-1 {
  -webkit-box-align: basline;
  align-items: baseline;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.dashboard-news-header-2 {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  margin: 0px;
  justify-content: space-between;
}

.dashboard-news-header-3 {
  color: white;
  margin: 0px;
  font-style: normal;
  text-decoration: unset;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.33px;
  line-height: 32px;
}

.dashboard-articles {
  box-sizing: inherit;
}

.dashboard-articles-1 {
  border-bottom: solid 1px #30363a;
  padding: 0 2px;
}

.dashboard-articles-2 {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column nowrap;
  margin: -1px -24px;
  padding: 25px 24px;
  position: relative;
  transition: background .15s;
}

.dashboard-articles-2:hover {
  background-color: rgb(30,33,36);
}

.dashboard-article-link {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.dashboard-articles-source {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 12px;
}

.dashboard-articles-source-1 {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}

.dashboard-articles-source-2 {
  display: inline-flex;
  margin-right: 8px;
}

.dashboard-articles-lightning {
  height: 20px;
  width: 12px;
}

.dashboard-articles-source-3 {
  margin-right: 8px;
}

.dashboard-articles-source-4 {
  color: white;
  margin: 0px;
  font-weight: 700;
}

.dashboard-articles-date {
  color: white;
  margin: 0px;
  font-weight: 700;
}

.dashboard-articles-source-filler {
  position: relative;
}

.dashboard-articles-source-filler-1 {
  -webkit-box-align: center;
  align-items: center;
  color: white;
  cursor: pointer;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 0 -2px;
  padding: 0 2px;
}

.dashboard-articles-source-filler-2 {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  height: 6px;
  -webkit-box-pack: center;
  justify-content: center;
}

.dashboard-articles-content {
  display: flex;
  -webkit-box-flex: 1;
  -webkit-box-direction: normal;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex: 1;
  -webkit-box-orient: horizontal;
  flex-flow: row nowrap;
}

.dashboard-articles-title {
  flex: 1;
  -webkit-box-orient: vertical;
  flex-flow: column nowrap;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-box-direction: normal;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.dashboard-articles-title-1 {
  display: flex;
  -webkit-box-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 56px;
}

.dashboard-articles-title-2 {
  margin-bottom: 12px;
}

.dashboard-articles-title-3 {
  color: white;
  margin: 0px;
  letter-spacing: -0.25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

.dashboard-articles-summary {
  margin-bottom: 12px;
}

.dashboard-articles-summary-1 {
  margin: 0px;
  color: rgb(121,133,139);
  font-weight: 400;
  line-height: 20px;
}

.dashboard-articles-img {
  display: flex;
  margin-left: 24px;
}

.dashboard-articles-img-1 {
  height: 167px;
  width: 296px;
  background-position: 50%;
  background-size: cover;
  border-radius: 4px;
  flex-shrink: 0;
}
