.navbar {
  height: 64px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: black;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.1px;
  line-height: 20px;
}

.navbar-1 {
  margin: 0 auto;
  max-width: 100%;
  width: 1024px;
  height: 64px;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-search {
  -ms-flex-preferred-size: 480px;
      flex-basis: 480px;
  min-width: 160px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  display: block;
  width: 480px;
  height: 36px;
}

.navbar-search-5:hover {
  background-color: #1e2124;
}

.navbar-search-5:focus-within {
  background-color: #1e2124;
}

.navbar-search-2 {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  width: inherit;
  height: inherit;
}

.navbar-search-3 {
  -webkit-box-direction: normal;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  height: 36px;
}

.navbar-search-4 {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  height: inherit;
}

.navbar-search-5 {
  background-color: black;
  border: 1px solid #40494e;
  top: 0px;
  left: 0px;
  right: 0px;
  -webkit-transition: border-color 300ms ease 0s, -webkit-box-shadow 300ms ease 0s;
  transition: border-color 300ms ease 0s, -webkit-box-shadow 300ms ease 0s;
  transition: border-color 300ms ease 0s, box-shadow 300ms ease 0s;
  transition: border-color 300ms ease 0s, box-shadow 300ms ease 0s, -webkit-box-shadow 300ms ease 0s;
  height: 34px;
  width: 478px;
  border-radius: 2px;
}

.navbar-search-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 34px;
  padding-left: 24px;
}

.navbar-search-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  margin-right: 4px;
  width: 24px;
}

.navbar-search-8 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  --rh__text-color: rgb(121, 133, 139);
  width: 24px;
  height: 24px;
}

.navbar-search-input {
  color: white;
  text-decoration: unset;
  border: none;
  outline: none;
  background: none;
  width: 100%;
  padding-right: 24px;
  padding-left: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-attachment: scroll;
  font-size: 13px;
  cursor: text;
  font-weight: 400;
  height: 32px;
  line-height: 20px;
  letter-spacing: -0.1px;
  outline-color: white;
  outline-offset: -2px;
  outline-style: none;
  text-align: start;
  width: 426px;
}

.navbar-list {
  padding: 0 4px 0 6px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 53px;
  width: 390px;
  height: 34px;
  right: 48px;
  position: absolute;
}

.navbar-list-1 {
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.navbar-list-2 {
  border-bottom: 2px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  padding: 6px 0px;
  color: inherit;
  text-decoration: inherit;
  background-color: transparent;
  cursor: pointer;
}

.navbar-list-word {
  color: white;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -0.1px;
  line-height: 20px;
}

.navbar-list-word:hover {
  color: #00c805;
}

.navbar-list-word-green {
  color: white;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -0.1px;
  line-height: 20px;
}

.navbar-list-word-green:hover {
  color: #00c805;
}

.navbar-list-word-red {
  color: white;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -0.1px;
  line-height: 20px;
}

.navbar-list-word-red:hover {
  color: #ff5000;
}

.navbar-list-3 {
  border-bottom: 2px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  padding: 6px 0px;
  color: inherit;
  text-decoration: inherit;
  background-color: transparent;
  margin-left: 33px;
  cursor: pointer;
}

.navbar-list-4 {
  margin-left: 33px;
  position: relative;
  height: 34px;
}

.nav-bar-account {
  border-bottom: 2px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  padding: 6px 0px;
  color: inherit;
  text-decoration: inherit;
  background-color: transparent;
  cursor: pointer;
}

.search-link-button {
  display: none;
  padding: 10px;
}

.search-link-button-1 {
  height: 33px;
  background-color: #26d02b;
  border-radius: 3px;
  outline: none;
  border: 0px;
  color: #1e2124;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
}

.search-dropdown {
  background-color: #1e2124;
  border-radius: 4px;
  border: 1px solid #40494e;
  border-top: none;
  -webkit-transition: border-color 300ms ease 0s, -webkit-box-shadow 300ms ease 0s;
  transition: border-color 300ms ease 0s, -webkit-box-shadow 300ms ease 0s;
  transition: border-color 300ms ease 0s, box-shadow 300ms ease 0s;
  transition: border-color 300ms ease 0s, box-shadow 300ms ease 0s, -webkit-box-shadow 300ms ease 0s;
  width: 430px;
  height: 300px;
  position: absolute;
  margin-top: 33px;
  display: none;
  padding: 0px 24px 24px;
  overflow: hidden;
}

.search-dropdown-1 {
  margin: 12px 0 24px;
}

.search-dropdown-stocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 12px;
  font-weight: 500;
  margin: 0 0 4px;
  font-size: 13px;
  letter-spacing: -0.1px;
  line-height: 20px;
  color: #849197;
}

.search-dropdown-stocks-1 {
  font-weight: 500;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 28px;
  margin: 0 -24px;
  padding: 0 24px;
  text-decoration: none;
}

.search-dropdown-stocks-1:hover {
  background-color: #30363a;
}

.search-dropdown-ticker {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75px;
      flex: 0 0 75px;
}

.search-dropdown-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search-dropdown-name-green {
  color: #00c805;
  font-size: 15px;
}

.search-dropdown-name-red {
  color: #ff5000;
  font-size: 15px;
}

.search-dropdown-name-white {
  color: white;
  font-size: 15px;
}

.nav-logo {
  content: url("https://i.imgur.com/iU9XhbV.png");
  height: 35px;
  width: 32px;
  padding-right: 8px;
}

.nav-logo-green {
  content: url("https://i.imgur.com/iU9XhbV.png");
  height: 35px;
  width: 32px;
  padding-right: 8px;
}

.nav-logo-green:hover {
  content: url("https://i.imgur.com/o7G0Jf9.jpg");
  height: 35px;
  width: 32px;
  padding-right: 8px;
}

.nav-logo-red {
  content: url("https://i.imgur.com/iU9XhbV.png");
  height: 35px;
  width: 32px;
  padding-right: 8px;
}

.nav-logo-red:hover {
  content: url("https://i.imgur.com/lZC92b8.jpg");
  height: 35px;
  width: 32px;
  padding-right: 8px;
}

#search-words {
  display: none;
}
/*# sourceMappingURL=navbar.css.map */