.navbar {
  height: 64px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: black;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.1px;
  line-height: 20px;
}

.navbar-1 {
  margin: 0 auto;
  max-width: 100%;
  width: 1024px;
  height: 64px;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}

.navbar-logo {
  margin-right: 6px;
  height: 54px;
  width: 48px;
}

.navbar-logo-1 {
  cursor: pointer;
  height: 54px;
  width: 48px;

  img {
    box-sizing: border-box;
    height: 30px;
    width: 30;
    margin-top: 10px;
    margin-left: 15px;
  }
}

.navbar-search {
  flex-basis: 480px;
  min-width: 160px;
  box-sizing: border-box;
  color: white;
  display: block;
  width: 480px;
  height: 36px;
}

.navbar-search-5:hover {
  background-color: rgb(30, 33, 36);
}


.navbar-search-5:focus-within {
  background-color: rgb(30, 33, 36);
}





.navbar-search-2 {
  box-sizing: inherit;
  width: inherit;
  height: inherit;
}

.navbar-search-3 {
  -webkit-box-direction: normal;
  box-sizing: inherit;
  height: 36px;
}

.navbar-search-4 {
  box-sizing: inherit;
  height: inherit;
}

.navbar-search-5 {
  background-color: black;
  // border: 1px solid rgb(48, 54, 58);
  // position: absolute;
  border: 1px solid rgb(64, 73, 78);
  top: 0px;
  left: 0px;
  right: 0px;
  transition: border-color 300ms ease 0s, box-shadow 300ms ease 0s;
  height: 34px;
  width: 478px;
  border-radius: 2px;
}

.navbar-search-6 {
  display: flex;
  height: 34px;
  padding-left: 24px;
}

.navbar-search-7 {
  flex: 0 0 auto;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-right: 4px;
  width: 24px;
}

.navbar-search-8 {
  display: inline-flex;
  --rh__text-color: rgb(121, 133, 139);
  width: 24px;
  height: 24px;
}

.navbar-search-input {
  color: white;
  text-decoration: unset;
  border: none;
  outline: none;
  background: none;
  width: 100%;
  padding-right: 24px;
  padding-left: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
  appearance: none;
  background-attachment: scroll;
  font-size: 13px;
  cursor: text;
  font-weight: 400;
  height: 32px;
  line-height: 20px;
  letter-spacing: -0.1px;
  outline-color: white;
  outline-offset: -2px;
  outline-style: none;
  text-align: start;
  width: 426px;
}

// .navbar-search-input:focus {
//   background-color:gray;
// }

.navbar-list {
  padding: 0 4px 0 6px;
  flex-shrink: 0;
  margin-left: 53px;
  width: 390px;
  height: 34px;
  right: 48px;
  position: absolute;
}

.navbar-list-1 {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  height: 100%;
  -webkit-box-pack: end;
  justify-content: flex-end
}

.navbar-list-2 {
  border-bottom: 2px solid transparent;
  box-sizing: border-box;
  display: inline-block;
  padding: 6px 0px;
  color: inherit;
  text-decoration: inherit;
  background-color: transparent;
  cursor: pointer;
}

.navbar-list-word {
  color: white;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -0.1px;
  line-height: 20px;
}

.navbar-list-word:hover {
  color: rgb(0,200,5);
}

.navbar-list-3 {
  border-bottom: 2px solid transparent;
  box-sizing: border-box;
  display: inline-block;
  padding: 6px 0px;
  color: inherit;
  text-decoration: inherit;
  background-color: transparent;
  margin-left: 33px;
  cursor: pointer;
}



.navbar-list-4 {
  margin-left: 33px;
  position: relative;
  // width: 49px;
  height: 34px;
}

.nav-bar-account {
  border-bottom: 2px solid transparent;
  box-sizing: border-box;
  display: inline-block;
  padding: 6px 0px;
  color: inherit;
  text-decoration: inherit;
  background-color: transparent;
  cursor: pointer;
}

.search-link-button {
  padding: 10px;
}

.search-link-button-1 {
  height: 33px;
  background-color: rgb(38, 208, 43);
  border-radius: 3px;
  outline: none;
  border: 0px;
  color: rgb(30, 33, 36);
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
}

.search-dropdown {
  background-color: rgb(30, 33, 36);
  border-radius: 4px;
  border: 1px solid rgb(64, 73, 78);
  border-top: none;
  // top: 0px;
  // left: 0px;
  // right: 0px;
  transition: border-color 300ms ease 0s, box-shadow 300ms ease 0s;
  // box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.6), 0px -12px 24px rgba(0, 0, 0, 0.6);

  width: 430px;
  height: 300px;
  position: absolute;
  margin-top: 33px;
  display: none;
  padding: 0px 24px 24px;
  overflow: hidden;
}

.search-dropdown-1 {
  margin: 12px 0 24px;
}

.search-dropdown-stocks {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 12px;
  font-weight: 500;
  margin: 0 0 4px;
  font-size: 13px;
  letter-spacing: -0.1px;
  line-height: 20px;
  color: rgb(132, 145, 151);
}

.search-dropdown-stocks-1 {
  font-weight: 500;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 28px;
  margin: 0 -24px;
  padding: 0 24px;
  text-decoration: none;
}

.search-dropdown-stocks-1:hover {
  background-color: rgb(48, 54, 58);
}

.search-dropdown-ticker {
  -webkit-box-flex: 0;
  flex: 0 0 75px;
}

.search-dropdown-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search-dropdown-name-green {
  color: rgb(0, 200, 5);
  font-size: 15px;
}

.search-dropdown-name-white {
  color: white;
  font-size: 15px;
}