.owned-asset-item {
  height: 60px;
  top: 52px;
  left: 0px;
  width: 100%;
  padding-bottom: 5px;
}

.owned-asset-item:hover {
  background-color: #30363a;
}

.owned-asset-item:hover .recharts-curve {
  fill: #30363a;
}

.owned-asset-item-link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 24px;
  text-decoration: unset;
}

.owned-asset-item-link-2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 24px;
  padding-left: 7px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-decoration: unset;
  min-width: 226px;
}

.owned-asset-item-delete {
  height: 60px;
  top: 52px;
  left: 0px;
  width: 100%;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.owned-asset-item-delete:hover {
  background-color: #30363a;
}

.owned-asset-item-delete:hover .recharts-curve {
  fill: #30363a;
}

.owned-asset-item-delete:hover .delete-watched-item {
  visibility: visible;
}

.owned-asset-item-delete:hover .delete-watched-item-green {
  visibility: visible;
}

.owned-asset-item-delete:hover .delete-watched-item-red {
  visibility: visible;
}

.delete-watched-item {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 20px;
  width: 20px;
  cursor: pointer;
  visibility: hidden;
}

.delete-watched-item-green {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 20px;
  width: 20px;
  cursor: pointer;
  visibility: hidden;
}

.delete-watched-item-green:hover {
  content: url("https://i.imgur.com/petjNSP.png");
}

.delete-watched-item-red {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 20px;
  width: 20px;
  cursor: pointer;
  visibility: hidden;
}

.delete-watched-item-red:hover {
  content: url("https://i.imgur.com/CJEbwNR.png");
}

.owned-asset-item-ticker {
  -webkit-box-flex: 0;
  width: 70px;
  margin-right: 12px;
}

.owned-asset-item-ticker-2 {
  padding-bottom: 2px;
}

.owned-asset-item-ticker-3 {
  color: white;
  margin: 0px;
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  text-decoration: unset;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.owned-asset-item-shares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0px;
}

.owned-asset-item-shares-2 {
  margin: 0px;
  color: white;
  font-size: 13px;
  font-weight: 400;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mini-graph {
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 64px;
          flex: 0 0 64px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.owned-asset-item-price {
  margin: 0 0 0 12px;
  text-align: right;
}

.owned-asset-item-price-2 {
  margin: 0px;
  color: white;
  text-decoration: unset;
  font-weight: 400;
}

.owned-asset-item-price-3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.owned-asset-item-price-5 {
  height: 2px;
}

.owned-asset-item-percentage-increase {
  color: #00c805;
}

.owned-asset-item-percentage-decrease {
  color: #ff5000;
}

.mini-graph .recharts-wrapper {
  cursor: pointer !important;
}
/*# sourceMappingURL=owned_assets_item.css.map */