.owned-asset-item {
  height: 60px;
  top: 52px;
  left: 0px;
  width: 100%;
  // border-bottom: 1px solid #40494e;
  padding-bottom: 5px;
}

.owned-asset-item:hover {
  background-color: rgb(48,54,58);
  .recharts-curve {
    fill: rgb(48,54,58);
  }
}

.owned-asset-item-link {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 0 24px;
  text-decoration: unset;
}

.owned-asset-item-link-2 {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding-right: 24px;
  // padding-left: 20px;
  padding-left: 7px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-decoration: unset;
  min-width: 226px;
}

.owned-asset-item-delete {
  height: 60px;
  top: 52px;
  left: 0px;
  width: 100%;
  padding-bottom: 5px;
  display: flex;
}

.owned-asset-item-delete:hover {
  background-color: rgb(48,54,58);
  .recharts-curve {
    fill: rgb(48,54,58);
  }

  .delete-watched-item {
    visibility: visible;
  }

  .delete-watched-item-green {
    visibility: visible;
  }

  .delete-watched-item-red {
    visibility: visible;
  }
}

.delete-watched-item {
  align-self: center;
  // font-size: 20px;
  // padding-left: 5px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  visibility: hidden;
}

// .delete-watched-item:hover {
//   content: url("https://i.imgur.com/petjNSP.png")
// }

.delete-watched-item-green {
  align-self: center;
  height: 20px;
  width: 20px;
  cursor: pointer;
  visibility: hidden;
}

.delete-watched-item-green:hover {
  content: url("https://i.imgur.com/petjNSP.png")
}

.delete-watched-item-red {
  align-self: center;
  height: 20px;
  width: 20px;
  cursor: pointer;
  visibility: hidden;
}

.delete-watched-item-red:hover {
  content: url("https://i.imgur.com/CJEbwNR.png")
}

.owned-asset-item-ticker {
  -webkit-box-flex: 0;
  // flex: 0 1 50%;
  width: 70px;
  margin-right: 12px;
}

.owned-asset-item-ticker-2 {
  padding-bottom: 2px;
}

.owned-asset-item-ticker-3 {
  color: white;
  margin: 0px;
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  text-decoration: unset;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.owned-asset-item-shares {
  display: flex;
  min-width: 0px;
}

.owned-asset-item-shares-2 {
  margin: 0px;
  color: white;
  font-size: 13px;
  font-weight: 400;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mini-graph {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex: 0 0 64px;
  -webkit-box-pack: center;
  justify-content: center;
}

.owned-asset-item-price {
  margin: 0 0 0 12px;
  text-align: right;
}

.owned-asset-item-price-2 {
  margin: 0px;
  color: white;
  text-decoration: unset;
  font-weight: 400;
}

.owned-asset-item-price-3 {
  display: inline-flex;
  flex-direction: column;
}

.owned-asset-item-price-5 {
  height: 2px;
}

.owned-asset-item-percentage-increase {
  color: rgb(0, 200, 5)
}

.owned-asset-item-percentage-decrease {
  color: rgb(255, 80, 0);
}

.mini-graph {
	.recharts-wrapper {
		cursor: pointer !important;
	}
}