.watch-list-header {
  // height: 52px;
  left: 0px;
  // position: absolute;
  top: 112px;
  width: 100%;
}

.watch-list-header-1 {
  margin: 0px;
}

.watch-list-header-2 {
  -webkit-box-align: center;
  align-items: center;
  background: rgb(30,33,36);
  border-bottom: 1px solid rgb(64, 73, 78);
  border-top: 1px solid rgb(64, 73, 78);
  display: flex;
  height: 52px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 4px 24px 0px;
}

.watch-list-header-3 {
  margin: 0px;
  color: white;
  font-size: 15px;
  font-weight: 700;
  text-decoration: unset;
}

.watch-list-button {
  -webkit-appearance: button;
  background: none;
  border: 0px;
  color: unset;
  cursor: pointer;
  padding: 0px;
  display: flex;
  color: white;
  font-size: 28px;
  // padding-right: 8px;
}

.watch-list-button:hover {
  color: rgb(0, 255 ,0);
}

.watch-list-category {
  list-style: none;
}

.watch-list-category-1 {
  height: 60px;
  left: 0px;
  top: 164px;
  width: 100%;
}

.watch-list-category-2 {
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(30, 33, 36);
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;
  cursor: pointer;
}

.watch-list-category-2:hover {
  background-color: #30363a;
}


.watch-list-category-2:hover {

  .watch-list-dropdown-3 {
    content: url('https://i.imgur.com/YNZ1wZY.png');
  }

  .watch-list-edit {
    // visibility: visible;
    display: block;
  }
}

.watch-list-edit-button-1:hover {
  content: url('https://i.imgur.com/dUkgXrp.png');
  
  .watch-list-dropdown-3 {
    content: url('https://i.imgur.com/9xOZVK8.png');
    
  }

}



.watch-list-category-3 {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.watch-list-category-4 {
  display: flex;
  overflow: hidden;
  margin: 8px 16px;
  padding: 4px 8px;
}

.watch-list-category-4:hover {
  background-color: rgba(53,55,58,1);
  border-radius: 4px;
}

.watch-list-category-5 {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.watch-list-category-6 {
  flex-shrink: 0;
  margin-right: 12px;
}

.watch-list-category-7 {
  -webkit-box-align: center;
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background-color: rgb(48, 54, 58);
  height: 40px;
  width: 30px;
}

.watch-list-lightbulb {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
}

.watch-list-lightbulb-1 {
  font-size: 18px;
}

.watch-list-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.watch-list-title-1 {
  margin: 0px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}

.watch-list-dropdown {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}

.watch-list-edit {
  // visibility: hidden;
  display: none;
  height: 24px;
  margin-right: 20px;
}

.watch-list-edit-button {
  background: none;
  border-width: 0px 0px 2px;
  border-top-style: initial;
  border-right-style: initial;
  border-left-style: initial;
  border-top-color: initial;
  border-right-color: initial;
  border-left-color: initial;
  border-image: initial;
  padding: 0px;
  font: inherit;
  appearance: none;
  text-align: unset;
  color: unset;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  display: block;
  height: 100%;
  cursor: pointer;
}

.watch-list-edit-button-1 {
  content: url('https://i.imgur.com/u5oCv3G.png');
  width: 20px;
}

.watch-list-dropdown-1 {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  height: 24px;
  margin-right: 20px;
  transition: transform 300ms ease 0s;
}

.watch-list-dropdown-2 {
  display: inline-flex;
  color: white;
}

.watch-list-dropdown-3 {
  content: url('https://i.imgur.com/9xOZVK8.png');
  width: 20px;
}

#watched-asset-item-list-none {
  display: none;
}

#watched-asset-item-list-show {
  display: block;
}

.watch-list-form {
  height: 92px;
  left: 0px;
  // position: absolute;
  top: 164px;
  width: 100%;
  display: none;
}

.watch-list-form-1 {
  padding: 8px 24px 0px 18px;
}

.watch-list-form-inputs {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  margin-bottom: 8px;
}

.watch-list-form-inputs-emoji {
  -webkit-appearance: button;
  background: none;
  border: 0px;
  color: unset;
  cursor: pointer;
  padding: 0px;
  flex-shrink: 0;
}

.watch-list-form-inputs-emoji-1 {
  -webkit-box-align: center;
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background-color: rgb(30, 33, 36);
  border: 1px solid rgb(64, 73, 78);
  height: 40px;
  width: 40px;
}

.watch-list-form-inputs-emoji-2 {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
}

.watch-list-form-inputs-emoji-3 {
  font-size: 18px;
}

.watch-list-form-inputs-title {
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin-left: 8px;
  height: 36px;
}

.watch-list-form-inputs-title-1 {
  position: relative;
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
}

.watch-list-form-inputs-title-2 {
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: unset;
  text-align: left;
  box-sizing: border-box;
  box-shadow: none;
  border: 1px solid rgb(48, 54, 58);
  background-color: rgb(48, 54, 58);
  border-radius: 4px;
  color: white;
  // padding-left: 12px;
  // padding-right: 12px;
  padding: 0px 12px 0px 12px;
  transition: border-color 200ms ease 0s;
  width: 100%;
  height: 100%;
  outline: none;
}

.watch-list-form-inputs-title-2:hover {
  border-color: rgb(64, 73, 78);
  background-color: rgb(30, 33, 36);
}

.watch-list-form-inputs-title-2:focus {
  outline: 0px;
  border-color: rgb(0, 255, 5);
  background-color: rgb(30, 33, 36);
}

.watch-list-form-cancel {
  display: flex;
  -webkit-box-pack: end;
  // justify-content: flex-end;
  justify-content: space-between;
}

.watch-list-form-cancel-1 {
  margin-right: 8px;
}

.watch-list-form-cancel-3 {
  -webkit-appearance: button;
  background: none;
  border: 1px solid currentColor;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: unset;
  box-sizing: border-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  white-space: nowrap;
  max-width: 420px;
  color: rgb(0, 200, 5);
  height: 34px;
  min-width: 96px;
  padding-left: 24px;
  padding-right: 24px;
}

.watch-list-form-cancel-3:hover {
  background-color: rgba(0,200,5,0.2);
}

.watch-list-form-cancel-4 {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.watch-list-form-cancel-5 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.watch-list-form-cancel-6 {
  margin: 0px;
  color:rgb(0, 200, 5);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-decoration: unset;
}

.watch-list-form-create {
  width: 112px;
}

.watch-list-form-create-1 {
  background: none currentcolor;
  border: 0px;
  text-align: unset;
  box-sizing: border-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  white-space: nowrap;
  max-width: 420px;
  color:rgb(0, 200, 5);
  height: 36px;
  min-width: 96px;
  padding: 0px 24px 0px 24px;
}

.watch-list-form-create-1:hover {
  color: rgba(38, 208, 43, 1);
}

.watch-list-form-create-2 {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.watch-list-form-create-3 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.watch-list-form-create-4 {
  margin: 0px;
  color: black;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.1px;
  text-decoration: unset;
}

// .watch-list-dropdown-edit {
//   inset: 0px auto auto 0px;
//   // height: 168px;
//   // width: 180px;
//   position: absolute;
//   // background-color: pink;
//   /* left: 0; */
//   z-index: 999;
//   box-sizing: border-box;
//   left: 50px;
//   top: 35px;
//   visibility: hidden;
// }

// #watch-list-dropdown-edit0 {
//   visibility: hidden;
//   inset: 0px auto auto 0px;
//   // height: 168px;
//   // width: 180px;
//   position: absolute;
//   // background-color: pink;
//   /* left: 0; */
//   z-index: 999;
//   box-sizing: border-box;
//   left: 50px;
//   top: 35px;
// }

// #watch-list-dropdown-edit1 {
//   visibility: hidden;
//   inset: 0px auto auto 0px;
//   // height: 168px;
//   // width: 180px;
//   position: absolute;
//   // background-color: pink;
//   /* left: 0; */
//   z-index: 999;
//   box-sizing: border-box;
//   left: 50px;
//   top: 35px;
// }
// #watch-list-dropdown-edit2 {
//   visibility: hidden;
//   inset: 0px auto auto 0px;
//   // height: 168px;
//   // width: 180px;
//   position: absolute;
//   // background-color: pink;
//   /* left: 0; */
//   z-index: 999;
//   box-sizing: border-box;
//   left: 50px;
//   top: 35px;
// }
// #watch-list-dropdown-edit3 {
//   visibility: hidden;
//   inset: 0px auto auto 0px;
//   // height: 168px;
//   // width: 180px;
//   position: absolute;
//   // background-color: pink;
//   /* left: 0; */
//   z-index: 999;
//   box-sizing: border-box;
//   left: 50px;
//   top: 35px;
// }










.watch-list-dropdown-edit-1 {
  background-color: rgb(30, 33, 36);
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0px 12px 24px rgba(0,0,0,0.6), 
              0px -12px 24px rgba(0,0,0,0.6);
  padding: 12px 0px 12px;
  min-width: 180px;
}

.watch-list-dropdown-edit-modal {
  -webkit-appearance: button;
  background: none;
  border: 0px;
  text-align: unset;
  color: unset;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 12px 0px 12px;
  width: 100%;
  cursor: pointer;
  text-transform: none;
  overflow: visible;
}

.watch-list-dropdown-edit-modal:hover {
  .watch-list-dropdown-edit-modal-cog {
    content: url('https://i.imgur.com/64HsmhZ.png');
  }

  .watch-list-dropdown-edit-modal-4 {
    color:rgb(0, 200, 5);
  }
}

.watch-list-dropdown-edit-modal-1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  border-left: 2px solid transparent;
  padding-left: 22px;
  padding-right: 24px;
  min-height: 24px;
}

.watch-list-dropdown-edit-modal-2 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.watch-list-dropdown-edit-modal-3 {
  display: flex;
  margin-right: 12px;
}

.watch-list-dropdown-edit-modal-cog {
  content: url('https://i.imgur.com/hLjxnPO.png');
  height: 24px;
  width: 24px;
}


.watch-list-dropdown-edit-modal-4 {
  margin: 0px;
  color: white;
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  text-decoration: unset;
  letter-spacing: -0.1px;
  line-height: 20px;
}

.watch-list-dropdown-delete {
  -webkit-appearance: button;
  background: none;
  border: 0px;
  text-align: unset;
  color: unset;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 12px 0px 12px;
  width: 100%;
  cursor: pointer;
  text-transform: none;
  overflow: visible;
}

.watch-list-dropdown-delete:hover {
  .watch-list-dropdown-delete-x {
    content: url('https://i.imgur.com/mU8ff1B.jpg');
  }

  .watch-list-dropdown-delete-4 {
    color:rgb(0, 200, 5);
  }
}

.watch-list-dropdown-delete-1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  border-left: 2px solid transparent;
  padding-left: 23px;
  padding-right: 24px;
  min-height: 24px;
}

.watch-list-dropdown-delete-2 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.watch-list-dropdown-delete-3 {
  display: flex;
  margin-right: 12px;
}

.watch-list-dropdown-delete-x {
  content: url('https://i.imgur.com/r1sRcfF.jpg');
  height: 24px;
  width: 24px;
}

.watch-list-dropdown-delete-4 {
  margin: 0px;
  color: white;
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  text-decoration: unset;
  letter-spacing: -0.1px;
  line-height: 20px;
}

#tomato {
  visibility: hidden;
}