.watch-list-header {
  // height: 52px;
  left: 0px;
  // position: absolute;
  top: 112px;
  width: 100%;
}

.watch-list-header-1 {
  margin: 0px;
}

.watch-list-header-2 {
  -webkit-box-align: center;
  align-items: center;
  background: rgb(30,33,36);
  border-bottom: 1px solid rgb(64, 73, 78);
  border-top: 1px solid rgb(64, 73, 78);
  display: flex;
  height: 52px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 4px 24px 0px;
}

.watch-list-header-3 {
  margin: 0px;
  color: white;
  font-size: 15px;
  font-weight: 700;
  text-decoration: unset;
}

.watch-list-button-green {
  -webkit-appearance: button;
  background: none;
  border: 0px;
  color: unset;
  cursor: pointer;
  padding: 0px;
  display: flex;
  color: white;
  font-size: 28px;
}

.watch-list-button-green:hover {
  color: rgb(0, 255 ,0);
}

.watch-list-button-red {
  -webkit-appearance: button;
  background: none;
  border: 0px;
  color: unset;
  cursor: pointer;
  padding: 0px;
  display: flex;
  color: white;
  font-size: 28px;
}

.watch-list-button-red:hover {
  color: rgb(255, 80, 0);
}

.watch-list-category {
  list-style: none;
}

.watch-list-category-1 {
  height: 60px;
  left: 0px;
  top: 164px;
  width: 100%;
}

.watch-list-category-2 {
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(30, 33, 36);
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;
  cursor: pointer;
}

.watch-list-category-2:hover {
  background-color: #30363a;
}


.watch-list-category-2:hover {

  // .watch-list-dropdown-3 {
  //   content: url('https://i.imgur.com/2vngOYR.png');
  // }

  .watch-list-edit {
    // visibility: visible;
    display: block;
  }
}

// .watch-list-edit-button-1:hover {
//   content: url('https://i.imgur.com/STPRdc6.png');
  
//   // .watch-list-dropdown-3 {
//   //   content: url('https://i.imgur.com/9xOZVK8.png');
    
//   // }

// }



.watch-list-category-3 {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.watch-list-category-4 {
  display: flex;
  overflow: hidden;
  margin: 8px 16px;
  padding: 4px 8px;
}

.watch-list-category-4:hover {
  background-color: rgba(53,55,58,1);
  border-radius: 4px;
}

.watch-list-category-5 {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.watch-list-category-6 {
  flex-shrink: 0;
  margin-right: 12px;
}

.watch-list-category-7 {
  -webkit-box-align: center;
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background-color: rgb(48, 54, 58);
  height: 40px;
  width: 30px;
}

.watch-list-lightbulb {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
}

.watch-list-lightbulb-1 {
  font-size: 18px;
}

.watch-list-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.watch-list-title-1 {
  margin: 0px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}

.watch-list-dropdown {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}

.watch-list-edit {
  // visibility: hidden;
  display: none;
  height: 24px;
  margin-right: 20px;
}

.watch-list-edit-button {
  background: none;
  border-width: 0px 0px 2px;
  border-top-style: initial;
  border-right-style: initial;
  border-left-style: initial;
  border-top-color: initial;
  border-right-color: initial;
  border-left-color: initial;
  border-image: initial;
  padding: 0px;
  font: inherit;
  appearance: none;
  text-align: unset;
  color: unset;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  display: block;
  height: 100%;
  cursor: pointer;
}

.watch-list-edit-button-1 {
  content: url('https://i.imgur.com/u5oCv3G.png');
  width: 20px;
}

.watch-list-dropdown-1 {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  height: 24px;
  margin-right: 20px;
  transition: transform 300ms ease 0s;
}

.watch-list-dropdown-2 {
  display: inline-flex;
  color: white;
}

.watch-list-dropdown-3 {
  content: url('https://i.imgur.com/9xOZVK8.png');
  width: 20px;
}

#watched-asset-item-list-none {
  display: none;
}

#watched-asset-item-list-show {
  display: block;
}

.watch-list-form {
  height: 92px;
  left: 0px;
  // position: absolute;
  top: 164px;
  width: 100%;
}

.watch-list-form-1 {
  padding: 8px 24px 0px 18px;
  
}

.watch-list-form-1-show {
  visibility: visible;
  will-change: height;
  padding: 8px 24px 0px 18px;
  opacity: 1;
  max-height: 1000px;
  transition: all 0.8s linear;
}

#watch-list-form {
  visibility: hidden;
  will-change: height;
  opacity: 0;
  max-height: 0;
  transition: all .4s linear;
}

#watch-list-toggled {
  visibility: visible;
  will-change: height;
  display: block;
  opacity: 1;
  max-height: 1000px;
  transition: all .4s linear;
}

.watch-list-form-inputs {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  margin-bottom: 8px;
}

.watch-list-form-inputs-emoji {
  -webkit-appearance: button;
  background: none;
  border: 0px;
  color: unset;
  cursor: pointer;
  padding: 0px;
  flex-shrink: 0;
}

.watch-list-form-inputs-emoji-1 {
  -webkit-box-align: center;
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background-color: rgb(30, 33, 36);
  border: 1px solid rgb(64, 73, 78);
  height: 40px;
  width: 40px;
}

.watch-list-form-inputs-emoji-2 {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
}

.watch-list-form-inputs-emoji-3 {
  font-size: 18px;
}

.watch-list-form-inputs-title {
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin-left: 8px;
  height: 36px;
}

.watch-list-form-inputs-title-1 {
  position: relative;
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
}

.watch-list-form-inputs-title-2 {
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: unset;
  text-align: left;
  box-sizing: border-box;
  box-shadow: none;
  border: 1px solid rgb(48, 54, 58);
  background-color: rgb(48, 54, 58);
  border-radius: 4px;
  color: white;
  // padding-left: 12px;
  // padding-right: 12px;
  padding: 0px 12px 0px 12px;
  transition: border-color 200ms ease 0s;
  width: 100%;
  height: 100%;
  outline: none;
}

.watch-list-form-inputs-title-2:hover {
  border-color: rgb(64, 73, 78);
  background-color: rgb(30, 33, 36);
}

.watch-list-form-inputs-title-2:focus {
  outline: 0px;
  border-color: rgb(0, 255, 5);
  background-color: rgb(30, 33, 36);
}

.watch-list-form-inputs-title-2-red {
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: unset;
  text-align: left;
  box-sizing: border-box;
  box-shadow: none;
  border: 1px solid rgb(48, 54, 58);
  background-color: rgb(48, 54, 58);
  border-radius: 4px;
  color: white;
  // padding-left: 12px;
  // padding-right: 12px;
  padding: 0px 12px 0px 12px;
  transition: border-color 200ms ease 0s;
  width: 100%;
  height: 100%;
  outline: none;
}

.watch-list-form-inputs-title-2-red:hover {
  border-color: rgb(64, 73, 78);
  background-color: rgb(30, 33, 36);
}

.watch-list-form-inputs-title-2-red:focus {
  outline: 0px;
  border-color: rgb(255, 80, 0);
  background-color: rgb(30, 33, 36);
}

.watch-list-form-cancel {
  display: flex;
  -webkit-box-pack: end;
  // justify-content: flex-end;
  justify-content: space-between;
}

.watch-list-form-cancel-1 {
  margin-right: 8px;
}

.watch-list-form-cancel-3 {
  -webkit-appearance: button;
  background: none;
  border: 1px solid currentColor;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: unset;
  box-sizing: border-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  white-space: nowrap;
  max-width: 420px;
  color: rgb(0, 200, 5);
  height: 34px;
  min-width: 96px;
  padding-left: 24px;
  padding-right: 24px;
}

.watch-list-form-cancel-3:hover {
  background-color: rgba(0, 200, 5, 0.2);
}

.watch-list-form-cancel-3:active {
  background-color: rgba(0, 200, 5, 0.4);
}

.watch-list-form-cancel-3-red {
  -webkit-appearance: button;
  background: none;
  border: 1px solid currentColor;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: unset;
  box-sizing: border-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  white-space: nowrap;
  max-width: 420px;
  color: rgb(255, 80, 0);
  height: 34px;
  min-width: 96px;
  padding-left: 24px;
  padding-right: 24px;
}

.watch-list-form-cancel-3-red:hover {
  background-color: rgba(255, 80, 0, 0.2);
}

.watch-list-form-cancel-3-red:active {
  background-color: rgba(255, 80, 0, 0.4);
}

.watch-list-form-cancel-4 {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.watch-list-form-cancel-5 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.watch-list-form-cancel-6 {
  margin: 0px;
  color:rgb(0, 200, 5);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-decoration: unset;
}

.watch-list-form-cancel-6-red {
  margin: 0px;
  color: rgb(255, 80, 0);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-decoration: unset;
}

.watch-list-form-create {
  width: 112px;
}

.watch-list-form-create-1 {
  background: none currentcolor;
  border: 0px;
  text-align: unset;
  box-sizing: border-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  white-space: nowrap;
  max-width: 420px;
  color:rgb(0, 200, 5);
  height: 36px;
  min-width: 96px;
  padding: 0px 24px 0px 24px;
}

.watch-list-form-create-1:hover {
  color: rgba(38, 208, 43, 1);
}

.watch-list-form-create-1:active {
  background-color: rgba(64, 214, 68, 1);
}

.watch-list-form-create-1-red {
  background: none currentcolor;
  border: 0px;
  text-align: unset;
  box-sizing: border-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  white-space: nowrap;
  max-width: 420px;
  color: rgb(255, 80, 0);
  height: 36px;
  min-width: 96px;
  padding: 0px 24px 0px 24px;
}

.watch-list-form-create-1-red:hover {
  color: rgba(255, 106, 38, 1);
}

.watch-list-form-create-1-red:active {
  background-color: rgba(255, 124, 64, 1);
}

.watch-list-form-create-2 {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.watch-list-form-create-3 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.watch-list-form-create-4 {
  margin: 0px;
  color: black;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.1px;
  text-decoration: unset;
}

// .watch-list-dropdown-edit {
//   inset: 0px auto auto 0px;
//   // height: 168px;
//   // width: 180px;
//   position: absolute;
//   // background-color: pink;
//   /* left: 0; */
//   z-index: 999;
//   box-sizing: border-box;
//   left: 50px;
//   top: 35px;
//   visibility: hidden;
// }

// #watch-list-dropdown-edit0 {
//   visibility: hidden;
//   inset: 0px auto auto 0px;
//   // height: 168px;
//   // width: 180px;
//   position: absolute;
//   // background-color: pink;
//   /* left: 0; */
//   z-index: 999;
//   box-sizing: border-box;
//   left: 50px;
//   top: 35px;
// }

// #watch-list-dropdown-edit1 {
//   visibility: hidden;
//   inset: 0px auto auto 0px;
//   // height: 168px;
//   // width: 180px;
//   position: absolute;
//   // background-color: pink;
//   /* left: 0; */
//   z-index: 999;
//   box-sizing: border-box;
//   left: 50px;
//   top: 35px;
// }
// #watch-list-dropdown-edit2 {
//   visibility: hidden;
//   inset: 0px auto auto 0px;
//   // height: 168px;
//   // width: 180px;
//   position: absolute;
//   // background-color: pink;
//   /* left: 0; */
//   z-index: 999;
//   box-sizing: border-box;
//   left: 50px;
//   top: 35px;
// }
// #watch-list-dropdown-edit3 {
//   visibility: hidden;
//   inset: 0px auto auto 0px;
//   // height: 168px;
//   // width: 180px;
//   position: absolute;
//   // background-color: pink;
//   /* left: 0; */
//   z-index: 999;
//   box-sizing: border-box;
//   left: 50px;
//   top: 35px;
// }










.watch-list-dropdown-edit-1 {
  background-color: rgb(30, 33, 36);
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0px 12px 24px rgba(0,0,0,0.6), 
              0px -12px 24px rgba(0,0,0,0.6);
  padding: 12px 0px 12px;
  min-width: 180px;
}

.watch-list-dropdown-edit-modal {
  -webkit-appearance: button;
  background: none;
  border: 0px;
  text-align: unset;
  color: unset;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 12px 0px 12px;
  width: 100%;
  cursor: pointer;
  text-transform: none;
  overflow: visible;
}

// .watch-list-dropdown-edit-modal:hover {
//   .watch-list-dropdown-edit-modal-cog {
//     content: url('https://i.imgur.com/64HsmhZ.png');
//   }

//   .watch-list-dropdown-edit-modal-4 {
//     color:rgb(0, 200, 5);
//   }
// }

.watch-list-dropdown-edit-modal-1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  border-left: 2px solid transparent;
  padding-left: 22px;
  padding-right: 24px;
  min-height: 24px;
}

.watch-list-dropdown-edit-modal-2 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.watch-list-dropdown-edit-modal-3 {
  display: flex;
  margin-right: 12px;
}

.watch-list-dropdown-edit-modal-cog {
  content: url('https://i.imgur.com/hLjxnPO.png');
  height: 24px;
  width: 24px;
}


.watch-list-dropdown-edit-modal-4 {
  margin: 0px;
  color: white;
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  text-decoration: unset;
  letter-spacing: -0.1px;
  line-height: 20px;
}

.watch-list-dropdown-delete {
  -webkit-appearance: button;
  background: none;
  border: 0px;
  text-align: unset;
  color: unset;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 12px 0px 12px;
  width: 100%;
  cursor: pointer;
  text-transform: none;
  overflow: visible;
}

.watch-list-dropdown-delete:hover {
  .watch-list-dropdown-delete-x {
    content: url('https://i.imgur.com/mU8ff1B.jpg');
  }

  .watch-list-dropdown-delete-4 {
    color:rgb(0, 200, 5);
  }
}

.watch-list-dropdown-delete-1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  border-left: 2px solid transparent;
  padding-left: 23px;
  padding-right: 24px;
  min-height: 24px;
}

.watch-list-dropdown-delete-2 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.watch-list-dropdown-delete-3 {
  display: flex;
  margin-right: 12px;
}

.watch-list-dropdown-delete-x {
  content: url('https://i.imgur.com/r1sRcfF.jpg');
  height: 24px;
  width: 24px;
}

.watch-list-dropdown-delete-4 {
  margin: 0px;
  color: white;
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  text-decoration: unset;
  letter-spacing: -0.1px;
  line-height: 20px;
}


.emoji-modal {
  background-color: rgb(30, 33, 36);
  border-radius: 3px;
  box-sizing: border-box;
  border: 1px solid rgb(64, 73, 78);
  display: none;

  z-index: 999;

  box-sizing: border-box;
  height: 250px;
  overflow: auto;
  padding: 0px 24px;
  margin-top: 8px;
  
}

.emoji-modal-1 {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  padding-top: 10px;
  font-size: 20px;
  justify-content: space-evenly;
  flex-flow: wrap;
}

.emoji-modal-2 {
  padding: 10px;
  border: none;
  background: none;
  font-size: 22px;
  cursor: pointer;
}

.emoji-modal-2:hover {
  background-color:rgb(48, 54, 58);
  border-radius: 3px;
}

.emoji-modal-categories {
  display: flex;
  justify-content: space-around;
  padding-top: 8px;
}

.emoji-modal-categories-1 {
  color: #00c805;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  border-bottom: 1px solid #00c805;
}

.emoji-modal-categories-2 {
  color: white;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

.emoji-modal-categories-3 {
  color: white;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

.emoji-modal-categories-1:hover {
  color:#00c805;
}

.emoji-modal-categories-2:hover {
  color:#00c805;
}

.emoji-modal-categories-3:hover {
  color:#00c805;
}

.watch-list-edit-modal {
  position: fixed;
  inset: 0px;
  overflow: auto;
  display: flex;
  align-items: flex-start;
  -webkit-box-pack: center;
  justify-content: center;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.6);
}

.watch-list-edit-modal-1 {
  max-width: 100%;
  animation-name: animation-1mblexk;
  animation-duration: 300ms;
  margin: 20vh auto 0px;
  position: relative;
}

.watch-list-edit-modal-2 {
  box-sizing: border-box;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.6);
  width: 468px;
  max-width: 100%;
  border-radius: 3px;
  background-color: rgb(30, 33, 36);
  padding: 16px 24px 24px 24px;
}

.watch-list-edit-modal-3 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 12px;
}

.watch-list-edit-modal-4 {
  margin: 0px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.25px;
  line-height: 28px;
  font-style: normal;
  text-decoration: unset;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.watch-list-edit-modal-x {
  -webkit-appearance: button;
  border: 0px;
  padding: 0px;
  text-align: unset;
  background: none;
  cursor: pointer;
  background-color: rgb(30, 33, 36);
  width: 40px;
  height: 40px;
  margin-right: -8px;
  margin-left: 12px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  border-radius: 3px;
}

.watch-list-edit-modal-x:hover {
  background-color: rgba(53, 55, 58, 1);
}

.watch-list-edit-modal-x:active {
  background-color: rgba(75, 77, 80, 1);
}

.watch-list-edit-modal-x-1 {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-right: 1px;
}

.watch-list-edit-modal-x-2 {
  height: 15px;
  width: 15px;
}

.watch-list-edit-modal-input {
  padding: 8px 24px 0px 18px;
}

.watch-list-edit-modal-input-1 {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  margin-bottom: 24px;
}

.watch-list-edit-modal-input-emoji {
  -webkit-appearance: button;
  background: none;
  border: 0px;
  color: unset;
  cursor: pointer;
  padding: 0px;
  text-transform: none;
}

.watch-list-edit-modal-input-emoji-1 {
  -webkit-box-align: center;
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background-color: rgb(30, 33, 36);
  border: 1px solid rgb(64, 73, 78);
  height: 40px;
  width: 40px;
}

.watch-list-edit-modal-input-emoji-2 {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  font-size: 18px;
}

.watch-list-edit-modal-input-text {
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin-left: 8px;
}

.watch-list-edit-modal-input-text-1 {
  position: relative;
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.watch-list-edit-modal-input-text-2 {
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.1px;
  text-decoration: unset;
  text-align: left;
  box-sizing: border-box;
  box-shadow: none;
  background-color: rgb(48, 54, 58);
  border: 1px solid rgb(48, 54, 58);
  color: white;
  transition: border-color 200ms ease 0s;
  width: 100%;
  height: 34px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  border-radius: 4px;
}

.watch-list-edit-modal-input-text-2:hover {
  background-color: rgb(30, 33, 36);
  border-color: rgb(64, 73, 78);
}

.watch-list-edit-modal-input-text-2:focus {
  outline: 0px;
  border-color: rgb(0, 200, 5);
  background-color: rgb(30, 33, 36);
}

.watch-list-edit-modal-input-text-2-red {
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.1px;
  text-decoration: unset;
  text-align: left;
  box-sizing: border-box;
  box-shadow: none;
  background-color: rgb(48, 54, 58);
  border: 1px solid rgb(48, 54, 58);
  color: white;
  transition: border-color 200ms ease 0s;
  width: 100%;
  height: 34px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  border-radius: 4px;
}

.watch-list-edit-modal-input-text-2-red:hover {
  background-color: rgb(30, 33, 36);
  border-color: rgb(64, 73, 78);
}

.watch-list-edit-modal-input-text-2-red:focus {
  outline: 0px;
  border-color: rgb(255, 80, 0);
  background-color: rgb(30, 33, 36);
}

.watch-list-edit-modal-submit {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.watch-list-edit-modal-submit-1 {
  width: 100%;
  text-align: center;
}

.watch-list-edit-modal-submit-2 {
  background: none currentcolor;
  border: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  appearance: none;
  text-align: unset;
  box-sizing: border-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  white-space: nowrap;
  height: 48px;
  min-width: 120px;
  max-width: 420px;
  padding-left: 48px;
  padding-right: 48px;
  color: rgb(0, 200, 5);
  width: 100%;
}

.watch-list-edit-modal-submit-2:hover {
  background-color: rgba(38,208,43,1);
}

.watch-list-edit-modal-submit-2:active {
  background-color: rgba(64, 214, 68, 1);
}

.watch-list-edit-modal-submit-2-red {
  background: none currentcolor;
  border: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  appearance: none;
  text-align: unset;
  box-sizing: border-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  white-space: nowrap;
  height: 48px;
  min-width: 120px;
  max-width: 420px;
  padding-left: 48px;
  padding-right: 48px;
  color: rgb(255, 80, 0);
  width: 100%;
}

.watch-list-edit-modal-submit-2-red:hover {
  background-color: rgba(255, 106, 38, 1);
}

.watch-list-edit-modal-submit-2-red:active {
  background-color: rgba(255, 124, 64, 1);
}

.watch-list-edit-modal-submit-3 {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.watch-list-edit-modal-submit-4 {
  margin: 0px;
  color: rgb(30, 33, 36);
  font-size: 13px;
  font-weight: 700;
  text-decoration: unset;
}

.watch-list-edit-emoji {
  background-color: #1e2124;
  border-radius: 3px;
  box-sizing: border-box;
  border: 1px solid #40494e;
  display: none;
  z-index: 999;
  box-sizing: border-box;
  height: 250px;
  overflow: auto;
  padding: 0px 24px;
  margin-top: 8px;
  margin-bottom: 15px;
}

.watch-list-edit-emoji-1 {
  display: flex;
  justify-content: space-around;
  padding-top: 8px;
}

.watch-list-edit-emoji-2 {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  padding-top: 10px;
  font-size: 20px;
  justify-content: space-evenly;
  flex-flow: wrap;
}

#placeholder {
  display: none;

}

.add-watch-list {
  position: fixed;
  inset: 0px;
  overflow: auto;
  display: flex;
  align-items: flex-start;
  -webkit-box-pack: center;
  justify-content: center;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
}

.add-watch-list-1 {
  max-width: 100%;
  animation-name: animation-1mb1exk;
  animation-duration: 300ms;
  margin: 20vh auto 0px;
  position: relative;
}

.add-watch-list-2 {
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.6);
  width: 408px;
  max-width: 100%;
  background-color: rgb(30, 33, 36);
  padding: 16px 24px 24px 24px;
}

.add-watch-list-header {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 12px;
}

.add-watch-list-header-1 {
  margin: 0px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.25px;
  line-height: 28px;
  font-style: normal;
  text-decoration: unset;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.add-watch-list-header-2 {
  color: white;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.25px;
  line-height: 28px;
}

.add-watch-list-header-x {
  -webkit-appearance: button;
  border: 0px;
  padding: 0px;
  text-align: unset;
  background: none;
  cursor: pointer;
  background-color: rgb(30, 33, 36);
  width: 40px;
  height: 40px;
  margin-right: -8px;
  margin-left: 12px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  border-radius: 3px;
}

.add-watch-list-header-x:hover {
  background-color: rgba(53, 55, 58, 1);
}

.add-watch-list-header-x:active {
  background-color: rgba(75, 77, 80, 1);
}

.add-watch-list-header-x-1 {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-right: 1px;
}

.add-watch-list-header-x-2 {
  height: 15px;
  width: 15px;
}

.add-watch-list-3 {
  // margin-bottom: 24px;
  margin-bottom: 10px;
  max-height: 365px;
  overflow: auto;
  display: none;
}

.add-watch-list-4 {
  padding: 0px;
  box-shadow: none;
}

.add-watch-list-5 {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  margin-bottom: 8px;
}

.add-watch-list-emoji {
  -webkit-appearance: button;
  background: none;
  border: 0px;
  color: unset;
  cursor: pointer;
  padding: 0px;
  flex-shrink: 0;
}

.add-watch-list-emoji-1 {
  -webkit-box-align: center;
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background-color: rgb(30, 33, 36);
  border: 1px solid rgb(64, 73, 78);
  height: 48px;
  width: 48px;
}

.add-watch-list-emoji-2 {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
}

.add-watch-list-emoji-3 {
  font-size: 24px;
  padding-bottom: 3px;
}

.add-watch-list-input {
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin-left: 8px;
}

.add-watch-list-input-1 {
  position: relative;
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.add-watch-list-input-2 {
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: unset;
  text-align: left;
  box-sizing: border-box;
  box-shadow: none;
  border: 1px solid rgb(48, 54, 58);
  background-color: rgb(48, 54, 58);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  transition: border-color 200ms ease 0s;
  width: 100%;
  height: 46px;
  border-radius: 4px;
  outline: none;
}

.add-watch-list-input-2:hover {
  border-color: rgb(64, 73, 78);
  background-color: rgb(30, 33, 36);
}

.add-watch-list-input-2:focus {
  outline: 0px;
  border-color:rgb(0, 200, 5);
  background-color: rgb(30, 33, 36);
}

.add-watch-list-input-2-red {
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: unset;
  text-align: left;
  box-sizing: border-box;
  box-shadow: none;
  border: 1px solid rgb(48, 54, 58);
  background-color: rgb(48, 54, 58);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  transition: border-color 200ms ease 0s;
  width: 100%;
  height: 46px;
  border-radius: 4px;
  outline: none;
}

.add-watch-list-input-2-red:hover {
  border-color: rgb(64, 73, 78);
  background-color: rgb(30, 33, 36);
}

.add-watch-list-input-2-red:focus {
  outline: 0px;
  border-color:rgb(255, 80, 0);
  background-color: rgb(30, 33, 36);
}

.add-watch-list-buttons {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.add-watch-list-buttons-1 {
  margin-right: 8px;
}

// .add-watch-list-buttons-2 {

// }

.add-watch-list-buttons-3 {
  -webkit-appearance: button;
  background: none;
  border: 1px solid currentcolor;
  padding-top: 0px;
  padding-bottom: 0px;
  font: inherit;
  text-align: unset;
  box-sizing: border-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  white-space: nowrap;
  max-width: 420px;
  color: rgb(0, 200, 5);
  height: 34px;
  min-width: 96px;
  padding-left: 24px;
  padding-right: 24px;
}

.add-watch-list-buttons-3:hover {
  background-color: rgba(0, 200, 5, 0.2);
}

.add-watch-list-buttons-3:active {
  background-color: rgba(0, 200, 5, 0.4);
}

.add-watch-list-buttons-3-red {
  -webkit-appearance: button;
  background: none;
  border: 1px solid currentcolor;
  padding-top: 0px;
  padding-bottom: 0px;
  font: inherit;
  text-align: unset;
  box-sizing: border-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  white-space: nowrap;
  max-width: 420px;
  color: rgb(255, 80, 0);
  height: 34px;
  min-width: 96px;
  padding-left: 24px;
  padding-right: 24px;
}

.add-watch-list-buttons-3-red:hover {
  background-color: rgba(255, 80, 0, 0.2);
}

.add-watch-list-buttons-3-red:active {
  background-color: rgba(255, 80, 0, 0.4);
}

.add-watch-list-buttons-4 {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.add-watch-list-buttons-5 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.add-watch-list-buttons-6 {
  margin: 0px;
  color: rgb(0, 200, 5);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.1px;
  text-decoration: unset;
}

.add-watch-list-buttons-6-red {
  margin: 0px;
  color: rgb(255, 80, 0);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.1px;
  text-decoration: unset;
}

// .add-watch-list-buttons-7 {

// }

.add-watch-list-buttons-8 {
  background: none currentcolor;
  border: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  font: inherit;
  appearance: none;
  text-align: unset;
  box-sizing: border-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  white-space: nowrap;
  max-width: 420xp;
  color: rgb(0, 200, 5);
  height: 36px;
  min-width: 96px;
  padding-left: 24px;
  padding-right: 24px;
}

.add-watch-list-buttons-8:hover {
  background-color: rgba(38, 208, 43, 1);
}

.add-watch-list-buttons-8:active {
  background-color: rgba(64, 214, 68, 1);
}

.add-watch-list-buttons-8-red {
  background: none currentcolor;
  border: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  font: inherit;
  appearance: none;
  text-align: unset;
  box-sizing: border-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  white-space: nowrap;
  max-width: 420xp;
  color: rgb(255, 80, 0);
  height: 36px;
  min-width: 96px;
  padding-left: 24px;
  padding-right: 24px;
}

.add-watch-list-buttons-8-red:hover {
  background-color: rgba(255, 106, 38, 1);
}

.add-watch-list-buttons-8-red:active {
  background-color: rgba(255, 124, 64, 1);
}

.add-watch-list-buttons-9 {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.add-watch-list-buttons-10 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.add-watch-list-buttons-11 {
  margin: 0px;
  color: rgb(30, 33, 36);
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -0.1px;
  line-height: 20px;
  font-style: normal;
  text-decoration: unset;
}

.create-new-list {
  transition: opacity 300ms ease 0s;
}

.create-new-list-1 {
  -webkit-appearance: button;
  background: none;
  border: 0px;
  color: unset;
  cursor: pointer;
  font: inherit;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  padding: 8px 0px;
  text-align: left;
  width: 100%;
}

.create-new-list-2 {
  margin-right: 12px;
  visibility: hidden;
  width: 24px;
  height: 24px;
}

.create-new-list-3 {
  flex-shrink: 0;
  margin-right: 12px;
}

.create-new-list-4 {
  -webkit-box-align: center;
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background-color: rgba(0, 200, 5, 0.2);
  height: 64px;
  width: 48px;
}

.create-new-list-4-red {
  -webkit-box-align: center;
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background-color: rgba(255, 80, 0, 0.2);
  height: 64px;
  width: 48px;
}

.create-new-list-5 {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
}

.create-new-list-6 {
  display: inline-flex;
  color: rgb(0, 200, 5);
  font-size: 45px;
}

.create-new-list-6-red {
  display: inline-flex;
  color: rgb(255, 80, 0);
  font-size: 45px;
}

.create-new-list-7 {
  cursor: pointer;
  display: block;
}

.create-new-list-8 {
  margin: 0px;
  color: white;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.1px;
  text-decoration: unset;
}

.create-new-list-category {
  -webkit-appearance: button;
  background: none;
  border: 0px;
  color: unset;
  cursor: pointer;
  font: inherit;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  padding: 8px 0px;
  text-align: left;
  width: 100%;
  outline: none;
}

.create-new-list-category-check {
  margin-right: 12px;
}

.create-new-list-category-checkbox {
  display: flex;
  color: rgb(0, 200, 5)
}

.create-new-list-category-checkbox-empty {
  content: url("https://i.imgur.com/cXKHK8l.png");
  height: 20px;
  width: 20px;
}

.create-new-list-emoji {
  flex-shrink: 0;
  margin-right: 12px;
}

.create-new-list-emoji-1 {
  -webkit-box-align: center;
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background-color: rgb(48, 54, 58);
  height: 64px;
  width: 48px;
}

.create-new-list-emoji-2 {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
}

.create-new-list-emoji-3 {
  font-size: 21px;
}

.create-new-list-category {
  box-sizing: inherit;
}

.create-new-list-category-1 {
  cursor: pointer;
  display: block;
  margin: 0px;
  color: white;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.1px;
  text-decoration: unset;
}

.create-new-list-category-3 {
  margin: 0px;
  color: rgb(132, 145, 151);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.1px;
  text-decoration: unset;
}

.create-new-list-container {
  margin-bottom: 24px;
  max-height: 365px;
  overflow: auto;
}

.create-new-list-submit {
  width: 100%;
  text-align: center;
}

.create-new-list-submit-off {
  -webkit-appearance: button;
  background: none currentcolor;
  border: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: unset;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border-radius: 4px;
  white-space: nowrap;
  height: 48px;
  min-width: 120px;
  max-width: 420px;
  padding-left: 48px;
  padding-right: 48px;
  color: rgb(98, 108, 112);
  width: 100%;
  pointer-events: none;
}

.create-new-list-submit-on {
  -webkit-appearance: button;
  background: none currentcolor;
  border: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: unset;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border-radius: 4px;
  white-space: nowrap;
  height: 48px;
  min-width: 120px;
  max-width: 420px;
  padding-left: 48px;
  padding-right: 48px;
  // color: rgb(98, 108, 112);
  width: 100%;
  color:rgb(0, 200, 5);
  cursor: pointer;
}

.create-new-list-submit-on:hover {
  background-color: rgba(38, 208, 43, 1);
}

.create-new-list-submit-on:active {
  background-color: rgba(64, 214, 68, 1);
}

.create-new-list-submit-on-red {
  -webkit-appearance: button;
  background: none currentcolor;
  border: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: unset;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border-radius: 4px;
  white-space: nowrap;
  height: 48px;
  min-width: 120px;
  max-width: 420px;
  padding-left: 48px;
  padding-right: 48px;
  color: rgb(98, 108, 112);
  width: 100%;
  color:rgb(255, 80, 0);
  cursor: pointer;
}

.create-new-list-submit-on-red:hover {
  background-color: rgba(255, 106, 38, 1);
  cursor: pointer;
}

.create-new-list-submit-on-red:active {
  background-color: rgba(255, 124, 64, 1);
} 

.create-new-list-submit-1 {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.create-new-list-submit-2 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.create-new-list-submit-3 {
  margin: 0px;
  color: rgb(30, 33, 36);
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -0.1px;
  line-height: 20px;
  font-style: normal;
  text-decoration: unset;
}

.watch-list-error {
  display: none;
  color: rgb(255, 80, 0);
  text-align-last: center;
  font-size: 16px;
  padding-bottom: 5px;
  font-weight: 600;
}


.stock-page-emojis {
  background-color: #1e2124;
  border-radius: 3px;
  box-sizing: border-box;
  border: 1px solid #40494e;
  display: none;
  z-index: 999;
  box-sizing: border-box;
  height: 250px;
  overflow: auto;
  padding: 0px 24px;
  margin-top: 8px;
  margin-bottom: 15px;
}

.stock-page-emojis-categories {
  display: flex;
  justify-content: space-around;
  padding-top: 8px;
}

.stock-page-emojis-smilies {
  color: #00c805;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  border-bottom: 1px solid #00c805;
}

.stock-page-emojis-animals {
  color: white;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

.stock-page-emojis-items {
  color: white;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

.stock-page-emojis-list {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  padding-top: 10px;
  font-size: 20px;
  justify-content: space-evenly;
  flex-flow: wrap;
}

